<ion-tabs>
  <ion-tab [root]="tab1Root" tabTitle="" tabIcon="home"></ion-tab>
  <ion-tab [root]="tab2Root" tabTitle="" tabIcon="qr-scanner"></ion-tab>
  <ion-tab [root]="tab3Root" tabTitle="" tabIcon="git-compare"></ion-tab>
  <ion-tab [root]="tab4Root" tabTitle="" tabIcon="keypad"></ion-tab>
</ion-tabs>
