<ion-header>
  <ion-navbar>
    <ion-title>IsalinBayin</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-card [ngStyle]="{ 'background-color': '#488AFF' }">
    <ion-card-header>
      <div [ngStyle]="{
              'background-color': '#488AFF',
              color: '#ffff99',
              'font-size': '14px',
              'font-weight': 'bold',
              float: 'left'
            }">
        Filipino
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-textarea rows="6" [(ngModel)]="filipino" disabled> </ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card [ngStyle]="{ 'background-color': '#488AFF' }">
    <ion-card-header>
      <div [ngStyle]="{
            'background-color': '#488AFF',
            color: '#ffff99',
            'font-	size': '14px',
            'font-weight': 'bold',
            float: 'left'
          }">
        Baybayin
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-textarea id="baybayin" rows="3" [(ngModel)]="baybayin" disabled> </ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-grid>
    <ion-row>
      <ion-col *ngFor="let item of alphabet">
        <button large ion-button (click)="press(item);"> <small>{{item.sub}}</small>&nbsp;
          <h1 class="{{item.class}} baybayin">{{item.title}}</h1>
        </button>
      </ion-col>
    </ion-row>


  </ion-grid>
  <ion-grid>
    <ion-row>
      <ion-col col-6>
          <button ion-button large style="width: 96%;" (click)="space();" >
            space
          </button>
     </ion-col>
      <ion-col col-3> <button ion-button large  style="width: 96%;" (click)="remove();" >
          <ion-icon name="backspace"></ion-icon>
        </button></ion-col>
      <ion-col col-3> <button ion-button large style="width: 96%;"  (click)="reset();" >
          clear
        </button></ion-col>
    </ion-row>
  </ion-grid>

</ion-content>