page-home {

}
.baybayin{
    margin-top: 1.35rem !important;
    font-family: 'baybayin';
}
ion-col{
     padding: 0px !important;
}

button{
    min-width: 80px !important;
 
}
.lowercase{
    text-transform: lowercase;
}
textarea{
    opacity: 1 !important;
}
small{
    display: contents !important;
}
.card-md {
    margin: 5px;
    border-radius: 2px;
    width: calc(100% - 10px);
}
p , input, textarea {
font-size: 25px;
}