<ion-header>
  <ion-navbar>
    <ion-title>
      IsalinBayin
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ng-progress [min]="0" [max]="1" color="green"></ng-progress>

  <button ion-button large full (click)="selectSource()">Scan Image</button>



  <ion-card [ngStyle]="{ 'background-color': '#488AFF' }" *ngIf="selectedImage">
    <ion-card-header>
      <div [ngStyle]="{
        'background-color': '#488AFF',
        color: '#ffff99',
        'font-	size': '14px',
        'font-weight': 'bold',
        float: 'left'
      }">
        Image
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <img [src]="selectedImage">
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <button ion-button large full (click)="recognizeImage()" *ngIf="selectedImage">Process Image</button>
  <ion-card *ngIf="baybayinStatus">

    <ion-card-header>
      <div>
        Baybayin
      </div>
    </ion-card-header>
    <ion-card-content id="baybayin">
      {{baybayin}}

    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="filipino">
    <ion-card-header>
      <div>
        Filipino
      </div>
    </ion-card-header>
    <ion-card-content>

      {{filipino}}

    </ion-card-content>
  </ion-card>
  <ion-card *ngIf="english">
    <ion-card-header>
      <div>
        English
      </div>
    </ion-card-header>
    <ion-card-content>

      {{english}}

    </ion-card-content>
  </ion-card>
  


</ion-content>