

<ion-content padding>

  
  <ion-grid>
      <ion-row>
          <ion-col col-3>
              <ion-avatar>
                  <img src="../assets/imgs/icon.png"> 
            </ion-avatar>
      </ion-col>
        <ion-col col-9>
          <div style="    padding-left: 15px;
          ">
          <h1>ISALINBAYIN</h1>
          <h2 id="baybayin">Isalinbayin</h2>
        </div>
       </ion-col>
      
     
      </ion-row>
    </ion-grid>

  <p>Baybayin is an ancient script used primarily by the Tagalog people. The term "baybayin" literally means "to spell, write, and syllabize" in Tagalog. 
  </p><p>
   This educational application is for those people who would want to get oriented with the Baybayin script by translating english and filipino words into baybayin characters. The mobile application can handle simple and basic Filipino and English words input and translate it for transcribing into Baybayin characters. 
  </p>
  
</ion-content>
