page-keyboard {

}

ion-content{
    background-image: url('/assets/imgs/bg.png');
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
}
p{
    text-align: justify;
    color: #1f1919;
    text-shadow: 1px 1px #ffff;
    font-size: 25px;
}
#baybayin{
    font-family: 'baybayin';
    font-size: 35px;
}