@font-face {
    font-family: 'baybayin';
    src: url('../assets/fonts/final_baybayin.ttf');
    font-weight: 900;
    font-style: normal;
  }
  @font-face {
    font-family: 'other';
    src: url('../assets/fonts/otherbaybayin.ttf');
    font-weight: 900;
    font-style: normal;
  }