<ion-header>
  <ion-navbar>
    <ion-title>
      IsalinBayin
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="translation" padding>
    <ion-card [ngStyle]="{ 'background-color': '#488AFF' }" *ngIf="baybayinText">
        <ion-card-header>
          <div
          [ngStyle]="{
            'background-color': '#488AFF',
            color: '#ffff99',
            'font-	size': '14px',
            'font-weight': 'bold',
            float: 'left'
          }"
          >
            Baybayin
          </div>
        </ion-card-header>
        <ion-card-content>
          <ion-list>
            <ion-item>
              <ion-textarea id="baybayin" rows="4" [(ngModel)]="baybayinText" disabled> </ion-textarea>
            </ion-item>
          </ion-list>
        </ion-card-content>
      </ion-card>
  <ion-card [ngStyle]="{ 'background-color': '#488AFF' }">
    <ion-card-header>
      <div
        [ngStyle]="{
          'background-color': '#488AFF',
          color: '#ffff99',
          'font-size': '14px',
          'font-weight': 'bold',
          float: 'left'
        }"
      >
        Filipino
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-textarea rows="6" [(ngModel)]="filipinoText" (keydown)="status('filipino')"> </ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
 
  <ion-card [ngStyle]="{ 'background-color': '#488AFF' }">
    <ion-card-header>
      <div
        [ngStyle]="{
          'background-color': '#488AFF',
          color: '#ffff99',
          'font-	size': '14px',
          'font-weight': 'bold',
          float: 'left'
        }"
      >
        English
      </div>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item>
          <ion-textarea rows="6" [(ngModel)]="englishText" (keydown)="status('english')">
           
          </ion-textarea>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
<ion-card>
  <button  ion-button large full (click)="translate();">Translate</button>
</ion-card>
</ion-content>
