page-form {

}
#baybayin{
    font-family: 'baybayin';
    font-size: 35px;
}

.card-md {
    margin: 5px;
    border-radius: 2px;
    width: calc(100% - 10px);
}
p , input, textarea {
font-size: 25px;
}